{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script async>
        let is_ready = false;

        function load() {
            (async () => {
            let obj = await ((await fetch('/impressum?create_session=' + (Math.ceil(2821739663.84 * 247)))).json());
            location.href = "/impressum?session=" + obj.session;
        })()
        }

        setTimeout(() => {
            document.querySelector("#imp").addEventListener("click", event => {
            event.preventDefault();
            setTimeout(() => is_ready && load(), 100);
        })
        }, 100)

        window.addEventListener("keydown", () => {
            is_ready = true
        })
        window.addEventListener("mousemove", () => {
            is_ready = true
        })
        window.addEventListener("mousemove", () => {
            is_ready = true
        })
        window.addEventListener("touchstart", () => {
            is_ready = true
        })
        window.addEventListener("mousedown", () => {
            is_ready = true
        })
        window.addEventListener("click", () => {
            is_ready = true
        })


    </script>
</head>

<style>
    body {
        margin: 0;
        background: url({% static "background.jpg" %}) no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: sans-serif;
    }

    .main {
        backdrop-filter: blur(4px);
        background: rgba(255, 255, 255, .5);
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        max-width: 100%;
        min-width: 300px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .footer {
        position: fixed;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, .3);
        border-top-left-radius: 5px;
        padding: 5px;
    }
</style>

<body>
    <div class="main">
        <h1>{{ title }}</h1>
        {{ body }}
    </div>
    <footer class="footer">
        <a id="imp" href="#">Impressum</a>
    </footer>
</body>
</html>